doctype html
html(lang="en")
	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, initial-scale=1.0")
		title Webinate

		link(rel="stylesheet",type="text/css",href=url + "/style.css")
		link(rel="stylesheet",type="text/css",href=url + "/third-party/angular-loading-bar/build/loading-bar.css")
		link(href="https://fonts.googleapis.com/css?family=Lily+Script+One", rel="stylesheet", type="text/css")
		link(href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300italic,300", rel="stylesheet", type="text/css")
		script(type="text/javascript").
			var _users = "#{usersURL}"
			var _media = "#{mediaURL}"
			var _cache = "#{cacheURL}"
			var _plugins = [];
			var _variables = !{ JSON.stringify(variables) };
		script(type="text/javascript", src=url + "/third-party/jquery/dist/jquery.js")
		script(type="text/javascript", src=url + "/third-party/angular/angular.js")
		script(type="text/javascript", src=url + "/third-party/angular-ui-router/release/angular-ui-router.js")
		script(type="text/javascript", src=url + "/third-party/angular-animate/angular-animate.js")
		script(type="text/javascript", src=url + "/third-party/angular-sanitize/angular-sanitize.js")
		script(type="text/javascript", src=url + "/third-party/angular-loading-bar/build/loading-bar.js")
		script(type="text/javascript", src=url + "/third-party/angular-file-upload/dist/ng-file-upload.js")
		script(type="text/javascript", src="https://www.google.com/recaptcha/api/js/recaptcha_ajax.js")
		script(type="text/javascript", src=url + "/third-party/tinymce/tinymce.js")
		each plugin, index in plugins
			script(type="text/javascript", src=url + plugin)
		script(type="text/javascript", src=url + "/main.js")
		base(href="/")

	body(ng-app="admin")
		div(class="main-view", ui-view="main-view")